
/* =Fonts
------------------------*/

@font-face {
    font-family: 'BlackoutMidnight';
    src: url('../fonts/Blackout-Midnight-webfont.eot');
    src: url('../fonts/Blackout-Midnight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Blackout-Midnight-webfont.woff') format('woff'),
         url('../fonts/Blackout-Midnight-webfont.ttf') format('truetype'),
         url('../fonts/Blackout-Midnight-webfont.svg#BlackoutMidnight') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* =Global styles
------------------------*/

body {
	font-family: Arial;
	margin:0;
	padding:0
}

a {
	color:#6064ac;
	text-decoration:none
}

.ki-container {
	width:50%;
	margin:0 auto;
	position:relative;
}

/* =Header styles
------------------------*/

.ki-header {
	padding-bottom: .2em;
	border-bottom: 1px solid #000;
	margin-bottom:2em;
}

.ki-header h1 {
	font-family: 'BlackoutMidnight';
	width:32%;
	font-size:5em;
	margin:0;
	display:inline-block;
}

.ki-header h2 {
	display: inline;
	font-size: 1.1em;
	text-align: right;
	font-style:italic;
	margin-left:2.7em;
}

/* =Footer styles
------------------------*/
.ki-footer {
	width:100%;
	margin-top:4em;
}

.ki-footer span {
	display: block;
	text-align: center;
}

/* =Search styles
------------------------*/

.ki-search h2 {
	margin:.5em 0;
	display:inline-block;
}

.ki-search .count-input {
	width:50px;
	font-size:1.5em;
	margin-left:.5em;
}

.ki-search .get-ipsum {
	width:100%;
	padding:1em 0;
	text-align:center;
	margin:3em 0;
	font-size:1.2em;
	color:#fff;
	text-shadow: 0px 1px 2px #000;
	background-color: #b8afd1;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(184, 175, 209)),to(rgb(153, 147, 197)));
	background-image: -webkit-linear-gradient(top, rgb(184, 175, 209), rgb(153, 147, 197));
	background-image: -moz-linear-gradient(top, rgb(184, 175, 209), rgb(153, 147, 197));
	background-image: -ms-linear-gradient(top, rgb(184, 175, 209), rgb(153, 147, 197));
	background-image: linear-gradient(top, rgb(184, 175, 209), rgb(153, 147, 197));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#b8afd1', EndColorStr='#9993c5');
}

.ki-search input[type=checkbox], .ki-search label {
	vertical-align:middle;
	cursor:pointer;
}

.ki-search label {
	margin-right:3em;
	margin-left:.3em;
}

.ki-search .error {
	color:red;
	height:1em;
}

/* =Result styles
------------------------*/

.ki-results {
	padding-bottom:1.5em;
	border-bottom:1px solid #000;
}